  .dotmap {
    width: 1100px;
    height: 550px;
    
    background-image: url('.\Satallite Map.jpeg');
    background-repeat: no-repeat;
    background-size: 950px 530px;

  }
  .dotmap .row:after {
    content: "";
    display: table;
    clear: both;

  }
  .dot {
    float: left;
    display: inline-block;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin: 2px;
    font-size: 13px;
  }

  /* This will specific the color of the sectors plus background */
  .nothing {
    /* background: #fcfefe; */
    opacity: 0;
  }
  .sectorA-outdoor {
    background: #edd927;
  }
  .sectorB-outdoor {
    background: #00ff99;
  }
  .sectorC-outdoor {
    background: #cc99ff;
  }
  .sectorD-indoor {
    background: #66ffff;
  }
  
  /* This will specific status of bin color */

  .status-available{
    background: #2fa40f;
  }
  .status-full{
    background: #cf353a;
  }

  .status-currentNode{
    background: #0b52e0;
  }

  


/* This will specific the water transparency */
  @keyframes water {
    0% {
      background: lightcyan;
    }
    50% {
      background: paleturquoise;
    }
    100% {
      background: lightcyan;
    }
  }
  